@charset "UTF-8";
.dsflex-between, .carrito .carrito-total .fila {
  display: flex;
  justify-content: space-between;
}

.dsflex-center, .container-producto {
  display: flex;
  justify-content: center;
}

.dsflex-around, .carrito .carrito-total, .carrito .carrito-items .carrito-item, .row-wrap {
  display: flex;
  justify-content: space-around;
}

.mi-btn, .carrito .carrito-total .btn-pagar {
  border-radius: 5px;
  background-color: rgb(110, 110, 110);
  font-family: "Mandali", sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: center;
  color: rgb(236, 215, 255);
  padding: 8px;
  transition: 0.4s;
  border: 1px solid rgb(236, 215, 255);
}

.mi-btn:hover, .carrito .carrito-total .btn-pagar:hover {
  background-color: #f0fff9;
  color: rgb(110, 110, 110);
  border: 1px solid rgb(110, 110, 110);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursive {
  font-family: "Rouge Script", cursive;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #000000;
}

p, select {
  font-family: "Mandali", sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: start;
  color: #000000;
  padding: 2vw;
}

.row-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

main h1, main h2 {
  font-family: "Playfair", serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #000000;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  background-color: rgb(236, 215, 255);
  color: rgb(110, 110, 110);
  padding: 5px;
  width: 100%;
}

section h1, section h2 {
  font-family: "Playfair", serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #000000;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  background-color: rgb(236, 215, 255);
  color: rgb(110, 110, 110);
  padding: 5px;
  width: 100%;
}

.float-w {
  padding: 8px 15px;
  text-decoration: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgb(236, 215, 255);
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  color: rgb(110, 110, 110);
  transition: 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6666666667);
}

.float-w:hover {
  background-color: rgb(110, 110, 110);
  color: rgb(236, 215, 255);
}

header {
  z-index: 50;
  background-color: rgba(236, 215, 255, 0.5);
  height: 90px;
  transition: 0.5s;
  top: 0;
  position: fixed;
  width: 100%;
}
header nav div div {
  padding: 20px;
  width: 100vw;
}
header nav div .cursive {
  padding-left: 1em;
}

.header-text {
  font-family: "Mandali", sans-serif;
  font-weight: normal;
  font-size: 15px;
  text-align: start;
  color: #000000;
}

header:hover {
  background-color: rgb(236, 215, 255);
}

.header-space {
  width: 20vw;
}

.under-header {
  margin-top: 90px;
}

@media (max-width: 991px) {
  #navbarSupportedContent {
    background-color: rgb(236, 215, 255);
    width: 105vw;
  }
}
.card-producto {
  margin: 11px;
  position: relative;
  width: 11.875em;
  height: 19.875em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 480ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 5.9em;
}
.card-producto .title {
  font-family: "Mandali", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 0.625em;
  bottom: 2.5em;
}
.card-producto .title2 {
  font-family: "Mandali", sans-serif;
  font-weight: light;
  font-size: 11px;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 0.625em;
  bottom: 7.025em;
}
.card-producto .price {
  font-family: "Mandali", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  text-align: center;
  color: #000000;
  position: absolute;
  left: 8.125em;
  bottom: 0.625em;
}

.card-producto::after {
  content: "al Carrito";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -40px;
  background: rgb(236, 215, 255);
  color: rgba(0, 0, 0, 0.35);
  height: 3.4em;
  width: 90%;
  transition: all 80ms;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0;
}

.card-producto:hover::after {
  bottom: 0;
  opacity: 1;
}

.card-producto:active {
  transform: scale(0.98);
}

.card-producto:active::after {
  content: "Añadido!";
  height: 3.125em;
}

.text-producto {
  max-width: 55px;
}

.image-producto {
  overflow: hidden;
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.image-producto img {
  width: 100%;
}

.container-producto {
  flex-direction: row;
  flex-wrap: wrap;
}

#selectCategoria {
  margin: 15px;
}

#container-catalogo {
  background-color: #f0fff9;
}

.carrito {
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  margin: 0px 5px;
  background: #ffffff;
  min-width: 428px;
}
.carrito .header-carrito h2 {
  background-color: rgb(236, 215, 255);
  color: rgb(110, 110, 110);
}
.carrito .carrito-items .carrito-item {
  align-items: center;
  border-bottom: 1px solid rgb(110, 110, 110);
}
.carrito .carrito-items .carrito-item img {
  width: 80px;
  margin: 10px;
}
.carrito .carrito-items .carrito-item .carrito-item-detalles .carrito-item-titulo {
  font-family: Mandali, sans-serif;
  font-weight: bold;
  font-size: normal;
  text-align: center;
  color: rgb(110, 110, 110);
}
.carrito .carrito-items .carrito-item .carrito-item-detalles .selector-cantidad .restar-cantidad {
  margin: 10px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}
.carrito .carrito-items .carrito-item .carrito-item-detalles .selector-cantidad .carrito-item-cantidad {
  font-family: Mandali, sans-serif;
  font-weight: 500;
  font-size: normal;
  text-align: start;
  color: #000;
}
.carrito .carrito-items .carrito-item .carrito-item-detalles .selector-cantidad .sumar-cantidad {
  margin: 10px;
  cursor: pointer;
  color: #000;
  font-size: 20px;
}
.carrito .carrito-items .carrito-item .carrito-item-detalles .carrito-item-precio {
  font-family: Mandali, sans-serif;
  font-weight: 500;
  font-size: normal;
  text-align: center;
  color: #000;
}
.carrito .carrito-items .carrito-item .btn-eliminar {
  cursor: pointer;
}
.carrito .carrito-items .carrito-item .btn-eliminar i {
  font-size: 20px;
  font-weight: bold;
}
.carrito .carrito-total {
  padding: 10px;
}
.carrito .carrito-total .fila {
  align-items: center;
}
.carrito .carrito-total .fila .carrito-precio-total {
  background-color: white;
  font-family: Mandali, sans-serif;
  font-weight: 500;
  font-size: normal;
  text-align: start;
  color: rgb(110, 110, 110);
}
.carrito .carrito-total .btn-pagar {
  padding: 5px 8px;
}

/*# sourceMappingURL=style.css.map */
