// font-family: 'Playfair', serif;
// font-family: 'Mandali', sans-serif;
// font-family: 'Rouge Script', cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body {
    overflow-x: hidden;
}
.cursive {
    @include mi-text('Rouge Script', cursive, normal, 40px, center, map-get($map: $palette, $key: negro-basico));        
}
p, select {
    @include mi-text('Mandali', sans-serif, normal, 20px, start, map-get($map:$palette, $key:negro-basico));
    padding: 2vw;
}
.row-wrap {
    @extend .dsflex-around;
    flex-direction: row;
    flex-wrap: wrap;
}
main {
    h1, h2 {
        @include mi-text('Playfair', serif, bold, 40px, center, map-get($map:$palette, $key:negro-basico));
        box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
        background-color: map-get($map: $palette, $key: lila);
        color: map-get($map: $palette, $key: gris);
        padding: 5px;
        width: 100%;
    }
}
h5 {
    @include mi-text('Mandali', sans-serif, normal, 20px, center, map-get($map:$palette, $key:negro-basico));
        color: map-get($map: $palette, $key: gris);
        padding: 5px;
        width: 100%;
}
// section {
//     h1, h2 {
//         @include mi-text('Playfair', serif, bold, 40px, center, map-get($map:$palette, $key:negro-basico));
//         box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
//         background-color: map-get($map: $palette, $key: lila);
//         color: map-get($map: $palette, $key: gris);
//         padding: 5px;
//         width: 100%;
//     }
// }
.float-w {
    z-index: 100;
    padding: 8px 15px;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    // width: 60px;
    // height: 60px;
    background-color: map-get($map: $palette, $key: lila);
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    color: map-get($map: $palette, $key: gris);
    transition: 0.2s;
    box-shadow: 5px 5px 5px #000000aa;
}
.float-w:hover {
    background-color: map-get($map: $palette, $key: gris);
    color: map-get($map: $palette, $key: lila);
}
@media (max-width: 500px) {
    h1, h2{
        @include mi-text('Playfair', serif, bold, 1.5em, center, map-get($map:$palette, $key:negro-basico));
    }
}